.search-container {
    position: absolute;
    width: 90%;
    top: 8%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: auto;
    transform: translate(-50%, 0%);
    left: 50%;
    padding: 50px 30px;
    
}

.search-container.bg {
    background-color: rgba(20, 20, 20, 0.9);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.Search {
    text-align: center;
    margin-bottom: 30px;
}

.searchinput input {
    width: 50%;
    height: 50px;
    padding-left: 1%;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}

.searchreturn {
    gap: 10px ;
    padding: 10px;
    border-radius: 10px;
}